[Desktop Entry]
Encoding=UTF-8
Name=Link to these excellent slides
Type=Link
URL=https://s3.amazonaws.com/ml-class/notes/MDPIntro.pdf
Icon=application-pdf
